# 1. Angajati

In [ ]:
import pandas as pd
import numpy as np

df_employees = pd.read_csv('/employees.csv')
print(df_employees)

- numarul de angajati

In [ ]:
nr_employees = len(df_employees)
print(f"Numarul de angajati: {nr_employees}")

Numarul de angajati: 1000

- numar si tipul informatiilor (proprietatilor) detinute pentru un angajat

In [ ]:
print(f"Numarul informatiilor detinute pentru un angajat: {len(df_employees.columns)}")
print(f"Informatiile detinute despre un angajat: {df_employees.columns.values}")

Numarul informatiilor detinute pentru un angajat: 8
Informatiile detinute despre un angajat: ['First Name' 'Gender' 'Start Date' 'Last Login Time' 'Salary' 'Bonus %'
 'Senior Management' 'Team']

- numarul de angajati pentru care se detin date complete

In [ ]:
employees = df_employees.dropna(axis=0, how='any')
print(f"Numarul de angajati cu date complete: {len(employees)}")

Numarul de angajati cu date complete: 1000

- valorile minime, maxime, medii pentru fiecare proprietate

In [ ]:
for series_name, series in df_employees.items():
  try:
    print(f"{series_name}: min => {min(series)}, max => {max(series)}, avg => {series.mean()}")
  except:
    pass

Salary: min => 35013, max => 149908, avg => 90662.181
Bonus %: min => 1.015, max => 19.944, avg => 10.207555000000001
Senior Management: min => False, max => True, avg => 0.5016077170418006

- in cazul proprietatilor nenumerice, cate valori posibile are fiecare astfel de proprietate

In [ ]:
for series_name, series in df_employees.items():
  print(f"{series_name}: {len(pd.unique(series))}")

First Name: 201
Gender: 3
Start Date: 972
Last Login Time: 720
Salary: 995
Bonus %: 971
Senior Management: 3
Team: 11

- daca sunt valori lipsa si cum se poate rezolva aceasta problema

In [ ]:
new_df_employees = df_employees
for series_name, series in new_df_employees.items():
  new_df_employees[series_name].fillna("NaN", inplace=True)

print(f"(*Acum) Numarul de angajati cu date complete: {len(new_df_employees.dropna(axis=0, how='any'))}")

(*Acum) Numarul de angajati cu date complete: 1000